* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(251, 221, 184);
}


#navbar-justified {
    display: flex;
    background: linear-gradient(
        to bottom,
        rgb(225, 147, 22), 
        rgb(248, 223, 114)
    );
    justify-content: flex-end;
}

#navbar-justified a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar-justified #title {
    display: flex;
    margin-right: auto;
    color: white;  
}s

.spacer {
    height: 100vh;
}

.cta-button {
    background-color: rgb(238, 107, 6);
    color: rgb(253, 221, 17);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
