/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

  @import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');


#license {
    border: 3px solid black;
    width: 700px;
    border-radius: 30px;
    padding: 20px;
    background: linear-gradient(rgb(141, 232, 247), rgb(242, 176, 229));
    box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.358);  
}

#left-side{   
    display: inline-block;
    width: 65%;
}

h1 {
    font-weight: bold;
    color:navy;
    font-size: 60px;
    margin: 0px;
}

h4{
    color: white;
    border: 5px solid navy;
    background-color: navy;
    font-family: sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 0px;
}

#right-side {
    text-align: right;
}

#address{
    font-family: sans-serif;
    font-weight:bold
}

div #data-left,
div #data-right {
    color: navy;
    font-weight: lighter;
    font-family: sans-serif;
}

div #data-left span,
div #data-right span {
    color: red;
    font-weight: bold;
}

#id-and-expiration{
    margin-bottom: 15px;
}

#id-and-expiration{
    color: navy;
    font-weight: lighter;
    font-family: sans-serif;
}

#id-and-expiration span{
    color: red;
    font-weight: bold;
    display:inline-block;
}

div #id-and-expiration div  {   
    display:inline-block;
    margin: 10px;
}

#data-fields{
    display:inline-block;
    margin: 10px;
}

#data-left,
#data-right{
    display:inline-block;
    margin-right: 10px;
}

#small-pic,
#data-fields{
    display:inline-block 
}

 #small-pic img{
    width: 70px;
    opacity: 50%;
 }

 #right-side img{
    width: 180px;
 }

 #right-side,
 #donor,
 #real-id{
     text-align: center;
    display:inline-block;
 }

#signature {
    font-family: 'Corinthia', cursive;
    font-size: 25px;
 }
 
#data-fields #signature{
    text-align: center;
}

.fa-solid{
    color: red;
}

.fa-star{
    color: white;
    border: 3px solid gold;
    border-radius: 100%;
    background-color: gold;
    margin: 10px;
}
 
#donor,
#real-id{
    display: inline-block;
    text-align: center;
}

#donor{
    color: red;
    font-family: sans-serif;
    font-weight: bold;
}


