
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif; 
}

body {
    background-color: rgb(240, 255, 253);
    color: #39453f;
}

#three-columns {
    margin: 48px 0px;
    display: grid;
    grid-template-columns: 50px 500px 1fr;
    grid-template-areas: 
        ". main-area left-sidebar right-sidebar .";
}

#column-1 {
    margin-left: 24px;
    grid-area: left-sidebar;
    width: 650px;
}

#column-2 {
    grid-area: main-area;
}

#column-3 {
    margin-right: 20px;
    grid-area: right-sidebar;
    width: 300px;
}

#three-columns h1 {
    margin-top: 0px;
}

#three-columns h2,
#three-columns h3 {
    border-bottom: 2px solid #3f4b47;
    padding-bottom: 8px;
}

#three-columns ul {
    list-style-type: none;
    padding: 0px;
}

#three-columns ul li {
    padding: 4px 0px;
}

#three-columns ul a {
    color: #22342b;
    text-decoration: none;
}


.sticky-sidebar {
    position: sticky;
    top: 24px;
    border:  2px solid #79958a;
    border-radius: 4px;
    padding: 24px;
    margin: 24px;
    background-color: #f4fcfa;
}

#main-photo img {
    width: 500px;
}

#item-details {
    margin: 15px;
}

#heading {
    text-align: center;
}

#preview-photos {
    display: flex;
}

#preview-photos img {
    width: 110px;
    margin: 8px;
}

.sticky-sidebar {
    position: sticky;
    top: 24px;
    border:  2px solid #79958a;
    border-radius: 4px;
    padding: 24px;
    margin: 24px;
    background-color: #f4fcfa;
}

.sticky-sidebar li  {
    position: sticky;
    top: 24px;
    border:  2px solid #8ccbb6;
    border-radius: 8px;
    width: 150px;
    background-color: #8ccbb6;
    padding: 30px;
    margin: 24px;
    text-align: center;
}

h1 {
    color: #8ccbb6;
}

#search-bar {
    background-color: #f4fcfa;
    border: 2px solid #7e9990;
    width: 650px;
    margin: 10px;
    padding-left: 2%;
}

