* {
    box-sizing: border-box;
}

body {
    background-color: #FDF4E7;
    margin: 0px;
}

#header {
    background-image: url(../images/word\ logo.png);
    height: 25vh;
    width:100%;
    background-position:center center ;
    justify-content: space-between;
    color: #006938; 
    background-size: cover;
}


#header a {
    background-color: #006938;
    text-decoration: none;
    color: #FDF4E7;
    padding: 10px;
    border-radius: 20px;
}

#navbar {
    display: flex;
   justify-content: space-between;
   background-color: #006938;
   border-bottom: 3px solid #F7941D;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    margin: auto;
 
}


.spacer {
    height: 2vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center center;

}

#specials {
    background-color: aqua;
    flex: 1;
}

#cta {
    flex: 2;
    margin-left: 10px;
}

#two-columns {
    display: flex;
}


#hero {
    background-image: url("../images/greens.avif");
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

#hero h1 {
    font-size: 7vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: #f7a708;
    
}

#hero1 {
    background-image: url("../images/diet-e.png");
    height: 60vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end;
}

#hero1 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: #FDF4E7;
}

#hero1 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}

#hero1 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #006938;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

#hero3 {
    background-image: url("../images/paleo.png");
    height: 60vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end;
}

#hero3 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: #FDF4E7;
}

#hero3 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: #082c1b;
}

#hero3 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #006938;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

#hero2 {
    background-image: url("../images/photo-1640944563333-2d48c44a48c1.avif");
    height: 60vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

#hero2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: #FDF4E7;
}

#hero2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}

#hero2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #006938;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

.card-style-1 {
    max-width: 350px;
    box-shadow: -4px 4px 12px #1c1c1d;
    background-color: #dcd19e;
    margin: 20px;
    transition: 
        transform 0.5s,
        box-shadow 0.5s;
}     

.card-style-1 img {
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.card-style-1 a {
    background-color: green;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    display:inline-block;
    width:100%;
   
    padding: 20px;
    transition: 
        background-color 0.5s;
}

h2 {
    text-align: center;
}

.card-style-1 a:hover {
    background-color: #55a955;
}

.card-style-1:hover {
    transform: translateY(-12px);
    box-shadow: -4px 4px 20px #1c1c1d;     
}

#card-container {
    display: flex;
    width:350px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.cropped-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 24px;
    border: 10px solid #333333;
}

.cropped-grid-gallery img {
    width: 100%;
    margin: 10px;
}

